#*****************************************************************
# LLM and Embedding Model
#*****************************************************************
LLM=llama2 #or any Ollama model tag, gpt-4, gpt-3.5, or claudev2
EMBEDDING_MODEL=sentence_transformer #or ollama

#*****************************************************************
# Ollama
#*****************************************************************
#OLLAMA_BASE_URL=http://host.docker.internal:11434

#*****************************************************************
# Weaviate
#*****************************************************************
#WEAVIATE_URI=neo4j://database:7687
#WEAVIATE_USERNAME=neo4j
#WEAVIATE_PASSWORD=password